:root {
    --bs-background: #f9fbff;
    --bs-bg-secondary: #eff7ff;
    --bs-primary: hsl(236, 70%, 39%);
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #54b3e7ff;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: 'Poppins', sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700!important;
}

body {
    background-color: var(--bs-background);
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

h1 {
    font-size: 2.5rem!important;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem!important;
    margin-top: 20px;
    margin-bottom: 20px;
}


h3 {
    font-weight: 400!important;
    font-size: 1.5rem!important;
    margin: 1.5rem!important;
}

h4 {
    font-weight: 400!important;
    font-size: 1.2rem!important;
    margin: 1.5rem!important;
}

.navbar {
    background-color: var(--bs-background);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

}

.navbar-brand {
    font-size: 1.2rem!important;
    font-weight: 700!important;
}

#footer .navbar-brand {
    font-size: 1rem!important;
    font-weight: 400!important;
    color: var(--bs-secondary)
}

#hero, #start {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#hero {
    background-image:url('../img/herobg.svg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

#stats {
    background-image:url('../img/fraturesbg.svg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;

}

#hero .icon-link {
    color: var(--bs-secondary);
}

#hero .material-symbols-outlined {
    color: var(--bs-info);
}

#hero .btn {
    margin: 10px;
}

#hero .img-fluid {
    height: auto;
}

#about .card {
    margin-bottom: 20px;
}

.btn {
    font-family: 'Poppins', sans-serif;
}

.image-container-top {
    width: calc(25vw)!important;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

img.absolute {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
}

.card {
    background-color: var(--bs-bg-secondary);
    border-radius: 1em;
    padding-bottom: 20px;
}

.card-icon {
    width: 60px;
    height: 60px;
    margin: 30px;
}

.card-title {
    font-size: 1.2rem!important;
    font-weight: 700!important;
    margin-bottom: 1.2rem!important;
}

.w-75 {
    width: calc(75vw)!important;
}

.section {
    padding-bottom: 4rem;
}